.org-primary {
    background-color: #e45826;
}
.org-dark{
    background-color: #4a47a3;
}
.org-light{
    background-color:#f4d160;
}
.org-blacks{
    background-color: #2213f3;
}
.org-honu{
    background-color:#018d24;

}