.orgs-primary {
    background-color: #e45826;
}
.orgs-dark{
    background-color: #4a47a3;
}
.orgs-light{
    background-color:#f4d160;
}
.orgs-blacks{
    background-color: #2213f3;
}
.orgs-honu{
    background-color:#018d24;

}